<!DOCTYPE html>
<html>
  <head>
    <title>Games : Login</title>
  </head>
  <body>
    <header>
      <h2 id="title">Games</h2>
      <a href="/search">Search</a>
      <a href="/">Home</a>
      <% if (isLoggedIn) { %>
      <h1>Welcome, <%= username %> ! <a href="/logout"> logout</a></h1>
      <% } else { %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <% } %>
    </header>

    <div>
      <form action="/login" method="POST">
        <label for="username">Username :</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Password :</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
